#tituloFooter{
    color: #FFFFFF;
    margin-top: -4%;
}
#logoFooter{
    width: 125%;
}
#infoFooter{
    color: #FFFFFF;
}
#funcionamento{
    background-color: #777777;
}
#explicThread{
    background-color: #333333;
    color: #FFFFFF;
}
#codigos{
    background-color: #777777;
}

.text-detail{
    color: color: #FFFFFF
}

.federated{
    display: block;
    margin-left: 15%;
}
